.about {
  grid-area: about;
}

.brand {
  grid-area: brand;
}

.container {
  background-color: black;
  background-image: url("https://raw.githubusercontent.com/NicolasArayaB/portfolio/master/img/dark-background-1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  display: grid;
  grid-template-areas: "sidebar view";
  grid-template-columns: 15% 85%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.description {
  font-size: 120%;
  line-height: 1.6;
  margin: 1rem 0 1rem 0;
  padding: 3rem;
  text-align: justify;
  text-justify: distribute;
  width: 30rem;
}

.education {
  grid-area: education;
}

.educationDate {
  font-size: 90%;
  margin-left: auto;
}

.educationWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2rem 0;
  text-align: left;
}

.items {
  font-size: 2rem;
  margin: 1rem 0;
}

.institution {
  display: flex;
}

.logo {
  display: inline-block;
  margin: 0 2rem 1rem;
}

.logo a {
  color: #ffffff;
  font-size: 2rem;
}

.menu {
  align-self: center;
  font-size: 2rem;
}

.menu a {
  color: #ffffff;
  text-decoration: none;
}

.menu:hover, .logo:hover, a:hover {
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}  

.more {
  grid-area: more;
}

.project {
  grid-area: project;
}

.projectWrapper {
  margin: 3rem 0;
}

.section {
  align-self: center;
  text-align: center;
}

.skills {
  grid-area: skills;
}

.sidebar {
  color: #ffffff;
  display: grid;
  grid-area: sidebar;
  grid-template-areas:
    "."
    "brand"
    "."
    "about"
    "project"
    "education"
    "skills"
    "more"
    ".";
  grid-template-rows: repeat(10, 1fr);
  height: 100vh;
  left: 0;
  overflow-x: hidden;
  position: fixed;
  text-align: center;
  top: 0;
  width: 15%;
  z-index: 1;  
}

.subtitle {
  align-self: center;
  font-size: 4rem;
  margin: 2rem 0 2rem 0;
}

.tech {
  display: flex;
  justify-content: space-evenly;
  font-size: 130%;
  margin: 5rem 0;
}

.techAndLang {
  padding-top: 3rem;
}

.title {
  font-size: 10rem;
  margin: 3rem 0 3rem 0;
}

.view {
  color: #ffffff;
  grid-area: view;
}

.wrapper {
  display: flex;
  padding-top: 4rem;
  min-height: 85vh;
  justify-content: center;
}

.wrapper a {
  color: #ffffff;
}

