.about {
  grid-area: about;
}

a {
  color: #ffffff;
}

a:hover {
  color: #16f5ea;
}

.brand {
  grid-area: brand;
}

.container {
  background-color: black;
  color: #ffffff;
  display: grid;
  grid-template-areas: "sidebar view";
  grid-template-columns: 15% 85%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.description {
  font-size: 120%;
  line-height: 1.6;
  margin: 0 0 1rem 0;
  padding: 3rem;
  text-align: justify;
  text-justify: distribute;
  width: 30rem;
}

.description a {
  color: #16f5ea;
  text-decoration: none;
}

.education {
  grid-area: education;
}

.educationDate {
  font-size: 90%;
  margin-left: auto;
}

.educationWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2rem 0;
  text-align: left;
}

.items {
  font-size: 2rem;
  margin: 1rem 0;
}

.institution {
  display: flex;
}

.logo {
  display: inline-block;
  margin: 0 2rem 1rem;
}

.logo a {
  font-size: 2rem;
}

.menu {
  align-self: center;
  font-size: 2rem;
}

.menu a {
  text-decoration: none;
}

.more {
  grid-area: more;
}

.petCloud {
  text-decoration: underline;
}

.petCloudLinks {
  display: none;
  position: absolute;
  left: 15%;
  margin: 1rem auto;
  right: 0;
  text-align: center;
  width: fit-content;
}

.petCloudLinks a {
  margin: 0 1rem;
}

.project {
  grid-area: project;
}

.projectWrapper {
  margin: 3rem 0;
}

.section {
  align-self: center;
  text-align: center;
}

.skills {
  grid-area: skills;
}

.sidebar {
  color: #ffffff;
  display: grid;
  grid-area: sidebar;
  grid-template-areas:
    "."
    "brand"
    "."
    "about"
    "project"
    "education"
    "skills"
    "more"
    ".";
  grid-template-rows: repeat(10, 1fr);
  height: 100vh;
  left: 0;
  overflow-x: hidden;
  position: fixed;
  text-align: center;
  top: 0;
  width: 15%;
  z-index: 1;  
}

.subtitle {
  align-self: center;
  font-size: 4rem;
  margin: 2rem 0 3rem 0;
}

.tech {
  display: flex;
  justify-content: space-evenly;
  font-size: 130%;
  margin: 5rem 0;
}

.techAndLang {
  padding-top: 3rem;
}

.title {
  font-size: 10rem;
  margin: 3rem 0 3rem 0;
}

.view {
  color: #ffffff;
  grid-area: view;
}

.wrapper {
  display: flex;
  padding-top: 4rem;
  min-height: 85vh;
  justify-content: center;
}

/* animations */
.bounce {
  animation: bounce 0.6s, colorLoop 6s linear -0.8s infinite alternate;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.i-span {
  display: inline-block;
}

.letter {
  text-align : center;
  font-size  : 1em;
  margin     : 0;
  color      : white;
  line-height: 0.65;
}

.subtitle.is-visible b {
  animation: capColorChange 2s linear 0.2s normal forwards;
  animation-fill-mode: forwards;
}

@keyframes bounce {
  from {
      transform: translate3d(0, 0, 0);
  }

  to {
      transform: translate3d(0, -10px, 0);
  }
}

@keyframes capColorChange {
  0% {
    color: #ffffff;
  }

  100% {
    color: #16f5ea;
  }
}

@keyframes colorLoop {
  0% {
    color: #ffffff;
  }

  50% {
    color: #3cf10f
  }

  100% {
    color: #16f5ea;
  }
}
