/* General */
a {
  color: #ffffff;
}

a:hover {
  color: #16f5ea;
}

body.container {
  background-color: black;
  color: #ffffff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 2rem;
  text-align: center;
}

.description {
  line-height: 1.6;
  padding: 3rem;
  text-align: justify;
  text-justify: distribute;
  font-size: 1.6rem;
}

h3.items {
  font-size: 2rem;
  margin: 0.5rem 0;
}

.title {
  font-size: 6rem;
  margin: 3rem 0 3rem 0;
}

main.view {
  margin: 12% auto 0 auto;
}

section.wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  max-width: 60rem;
  margin: auto;
  min-height: 60vh;
  justify-content: center;
}

.subtitle {
  align-self: center;
  font-size: 4rem;
  margin: 2rem 0 3rem 0;
  padding: 2rem;
}

.subtitle.is-visible b {
  animation: capColorChange 2s linear 0.2s normal forwards;
  animation-fill-mode: forwards;
}

@keyframes bounce {
  from {
      transform: translate3d(0, 0, 0);
  }

  to {
      transform: translate3d(0, -10px, 0);
  }
}

@keyframes capColorChange {
  0% {
    color: #ffffff;
  }

  100% {
    color: #16f5ea;
  }
}

@keyframes colorLoop {
  0% {
    color: #ffffff;
  }

  50% {
    color: #3cf10f
  }

  100% {
    color: #16f5ea;
  }
}

/* Navbar */
nav#navbar {
  overflow: hidden;
  height: 3rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 0 1rem;
  position: sticky;
  top: 0;
  font-size: 0.9rem;
  background-color: black;
  z-index: 1;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  padding: 0.3rem;
}

nav a:not(:first-child) {
  display: none;
}

nav.responsive a:not(:first-child) {
  display: inline;
  width: fit-content;
}

a:hover {
  color: #16f5ea;
}

.active {
  background-color: #16f5ea;
  color: #ffffff;
}

/* About */
#about a {
  color: #16f5ea;
  text-decoration: none;
}

/* Contact section */
.logo {
  display: inline-block;
  margin: 0 2rem 1rem;
}

.logo a {
  font-size: 2rem;
}

#contact {
  margin: 0 auto 15rem auto;
}
.bounce {
  animation: bounce 0.6s, colorLoop 6s linear -0.8s infinite alternate;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.i-span {
  display: inline-block;
}

.letter {
  text-align : center;
  font-size  : 1em;
  margin     : 0;
  color      : white;
  line-height: 0.65;
}

/* Projects */
.petCloudLinks {
  display: none;
  margin: 1rem auto;
  text-align: center;
  width: fit-content;
}

.petCloudLinks a {
  margin: 0 1rem;
}

/* Education section */

.educationDate {
  font-size: 50%;
  margin: 0.7rem 0;
}

.educationWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2rem auto;
  text-align: left;
  max-width: 15rem;
}

.educationWrapper .items {
  font-size: 1.5rem;
}

.institution p {
  text-decoration: underline;
  min-width: 20rem;
}

/* Technologies */
.tech {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  font-size: 1.5rem;
  margin: 2.2rem 1rem;
}

.techAndLang {
  padding: 3rem 2rem;
}

.tech-item {
  margin: 0.5rem;
  min-width: 7rem;
}

.tech-item p {
  margin-top: 0.5rem;
}

.tech-item p:hover {
  color: #16f5ea;
}

/* Web */
@media screen and (min-width: 700px) {
  /* General */
  body {
    display: flex;;
  }

  .items {
    font-size: 2rem;
    margin: 1rem 0;
  }

  main.view {
    margin: 0;
    width: 80%;
  }

  section.wrapper {
    min-height: 90vh;
  }  

  .title {
    font-size: 10rem;
    margin: 3rem 0 3rem 0;
  }

  /* Navbar */
  .icon {
    display: none;
  }
  
  nav#navbar {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80vh;
    position: sticky;
    top: 10%;
    left: 0;
    width: 10%;
  }

  nav#navbar a:not(:first-child) {
    display: inline;
  }

/* Contact */
  .logo {
    display: inline-block;
    margin: 0 2rem 1rem;
  }
  
  .logo a {
    font-size: 2rem;
  }

/* Education */
  .educationDate {
    font-size: 70%;
    margin: 1rem auto 0 0;
  }
  
  .educationWrapper {
    min-width: 40rem;
  }

  .tech {
    font-size: 1.8rem;
  }

  .tech-item {
    min-width: 8rem;
  }
}
